<section id="contact">
    <h1 class="section-header" id="contact">Contact</h1>
    <div class="contact-wrapper">
        <div class="grid-x grid-margin-x">

            <div class="medium-6 cell">
                <h3 id="fill" style="color: red;">Contact Us</h3>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend
                    nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl
                    tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
                <ul class="menu">
                    <li><a href="https://github.com/PierTwo/The-Chiefdom-Blog" id="github">Github</a></li>
                </ul>
            </div>
            <div class="medium-6 cell">
                <label>Name
                    <input type="text" placeholder="Name">
                </label>
                <label>Email
                    <input type="text" placeholder="Email">
                </label>
                <label>text
                    <textarea placeholder="text"></textarea>
                </label>
                <input type="submit" class="button expanded" value="Submit" id="submit">
            </div>
        </div>
</section>

<div class="contact-wrapper">
    <div class="direct-contact-container">
        <!-- github repo link -->
        <hr>
        <ul class="social-media-list">
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
        </ul>
        <hr>

        <div class="copyright">&copy; GO CHIEFS!</div>

    </div>
</div>