<section id="contact-page">
    <h1 class="section-header" id="contact-header">Contact Us</h1>
    <div class="contact-wrapper">
        <div class="grid-x grid-margin-x">

            <div class="medium-6 cell">
                <h3 id="contact-fill" style="font-family:'Times New Roman', Times, serif">About:</h3>
                <p> We wanted to be able to share our thoughts on the Chiefs, comment on other people's thoughts on the
                    Chiefs, have my posts and likes stored on a profile, and have a resource for Chiefs information.
                    Below is a link to our github repository for this project as well as a link to our individual repos.
                </p>
                <ul class="menu">
                    <li><a href="https://github.com/PierTwo/The-Chiefdom-Blog" id="github">Github</a></li>
                </ul>
            </div>
            <div class="medium-6 cell">
                <label>Name
                    <input type="text" placeholder="Name">
                </label>
                <label>Email
                    <input type="text" placeholder="Email">
                </label>
                <label>text
                    <textarea placeholder="text"></textarea>
                </label>
                <input type="submit" class="button expanded" value="Submit" id="submit">
            </div>
        </div>
</section>

<div class="contact-wrapper">
    <div class="direct-contact-container">
        <!-- github repo link -->
        <hr>
        <ul class="social-media-list">
            <li><a href="https://github.com/PierTwo" "social-media-list">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="https://github.com/c529j466" "social-media-list">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="https://github.com/AndresR1010" "social-media-list">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="https://github.com/Nllano777" "social-media-list">
                    <i class="fa fa-github"></i></a>
            </li>
        </ul>
        <hr>

        <div class="copyright">&copy; GO CHIEFS!</div>

    </div>
</div>