<section id="contact">
    <h1 class="section-header" style="color: red;">Contact</h1>
    <div class="contact-wrapper">
        <div class="grid-x grid-margin-x">

            <div class="medium-6 cell">
                <h3>Contact Us</h3>
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend
                    nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl
                    tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
                <ul class="menu">
                    <li><a href="https://github.com/PierTwo/The-Chiefdom-Blog">Github</a></li>
                </ul>
            </div>
            <div class="medium-6 cell">
                <label>Name
                    <input type="text" placeholder="Name">
                </label>
                <label>Email
                    <input type="text" placeholder="Email">
                </label>
                <label>text
                    <textarea placeholder="text"></textarea>
                </label>
                <input type="submit" class="button expanded" value="Submit">
            </div>
        </div>
</section>

<div class="contact-wrapper">
    <div class="direct-contact-container">

        <ul class="contact-list">
            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City,
                        State</span></i></li>

            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                            href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#"
                            title="Send me an email">hitmeup@gmail.com</a></span></i></li>
        </ul>
        <!-- github repo link -->
        <hr>
        <ul class="social-media-list">
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github"></i></a>
            </li>
        </ul>
        <hr>

        <div class="copyright">&copy; GO CHIEFS!</div>

    </div>
</div>