    <div class="callout large ">
        <div class="row column text-center">
            <h1 id="fill">BEST PLAYS</h1>
        </div>
    </div>

    <div class="column">
        <div class="">
            <div class="responsive">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L0lz3VIANyE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ky7O9KAY8xg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oVobdzJtH4A"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hZ5oSQsAHxY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>




    <div class="column row">
        <hr>
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs">
                <h4 id="fill">Comments</h4>
            </li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="media-object stack-for-small">
                    <div class="media-object-section">
                    </div>
                    <div class="media-object-section">
                        <!-- insert user profile link -->
                        <h4 id="fill"><a id="user" href="#">Mike Mikers</a></h4>
                        <p>I'm going to improvise. Listen, there's something you should know about me... about
                            inception. An idea is
                            like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can
                            grow to define
                            or destroy you.</p>
                    </div>
                </div>
            </div>
            <textarea placeholder="my comments"></textarea>
            <button id="submit" class="button">Submit</button>
        </div>

        <div class="tabs-panel" id="panel2">
            <div class="row medium-up-3 large-up-5">
                <div class="column">
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla,
                        orci ac
                        euismod
                        semper, magna diam.</p>
                </div>
                <div class="column">
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla,
                        orci ac
                        euismod
                        semper, magna diam.</p>
                </div>
                <div class="column">
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla,
                        orci ac
                        euismod
                        semper, magna diam.</p>
                </div>
                <div class="column">
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla,
                        orci ac
                        euismod
                        semper, magna diam.</p>
                </div>
                <div class="column">
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla,
                        orci ac
                        euismod
                        semper, magna diam.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
