      <div class="grid-x grid-margin-x">
        <div class="cell small-6" id="Description"> Description </div>
        <div class="cell small-4" id="Logo"> Logo </div>
      </div>  
      
      <div class="grid-x grid-margin-x">
        <div class="cell small-6" id="Tweet-Head"> Live Tweet Header </div>
        <div class="cell small-4" id="Post-Button"> Make a post button </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell small-8" id="Tweet-one"> Tweet 1 </div>
        <!-- <div class="cell small-4" id="Schedule"> Schedule </div> -->
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell small-8" id="Tweet-Two"> Tweet 2 </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell small-8" id="Tweet-Three"> Tweet 3 </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell small-8" id="Tweet-Four"> Tweet 4 </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell small-8" id="Tweet-Five"> Tweet 5 </div>
      </div>

