<div class="grid-x grid-margin-x align align-spaced">
 <div class="cell small-6" id="Tweet-Head"> Live Chief Tweets </div>
 <div class="cell small-4" id="Tweet-Head"> Chiefs Legends </div>
</div>

<div class="grid-x grid-margin-x">
 <div class="cell small-6 medium-cell-block-y" id="Tweet-one"> <a class="twitter-timeline" href="https://twitter.com/Chiefs?ref_src=twsrc%5Etfw">Tweets by Chiefs</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
 <div class="cell small-4">
    <img src="\assets\img\derrick_thomas_chiefs.png" alt="Derrick Thomas" id="legend-pic-one">
    <img src="\assets\img\pat_mahomes.jpg" alt="Derrick Thomas" id="legend-pic-one">
    <img src="\assets\img\Emmitt_thomas.jpg" alt="Derrick Thomas" id="legend-pic-one">
    <img src="\assets\img\tony_gonzalez.jpg" alt="Derrick Thomas" id="legend-pic-one">
    <img src="\assets\img\travis_kelce.webp" alt="Derrick Thomas" id="legend-pic-one">
</div>
</div>
