      <div class="grid-x grid-margin-x">
         <div class="cell small-6" id="Description"> Description </div>
        <div class="cell small-4" id="Logo">
            <img id="flag" src= "https://www.picclickimg.com/d/l400/pict/183397298170_/Kansas-City-Chiefs-Circle-Logo-Vinyl-Decal.jpg">
        </div>
      </div>  

       <div class="grid-x grid-margin-x">
        <div class="cell small-6" id="Arrowhead">
            <img id="field" src="https://arrowheadone.com/wp-content/uploads/2022/09/image-60.png">
        </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell small-6" id="Tweet-Head"> Live Tweets Below </div>
        <div class="cell small-4" id="Post-Button"> Make a post button </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell medium-8 medium-cell-block-y" id="Tweet-one"> <a class="twitter-timeline" href="https://twitter.com/Chiefs?ref_src=twsrc%5Etfw">Tweets by Chiefs</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      </div>