<div class="flex-container grid-x grid-padding-x align-center" id="login-body">
  <div>
    <h4 class="text-center" id="form-header">Login</h4>
    <form class="login-card">
      <div class="form-group">
        <label for="username-login" id="filler">Username:
          <input class="form-input" type="text" id="username-login" placeholder="Arrowhead_Addict" />
        </label>
      </div>
      <div class="form-group">
        <label for="password-login" id="filler">Password:
          <input class="form-input" type="password" id="password-login" placeholder="password" />
        </label>
        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
      </div>
      <div class="form-group">
        <p><input type="submit" class="button expanded" id="submit-button" value="Log in"></input></p>
      </div>
    </form>
  </div>
  <div class="login-card align-self-middle">
    <p>OR</p>
  </div>
  <div class="login-card">
    <h4 class="text-center" id="form-header">Create an account</h4>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-login" id="filler">Username:
          <input class="form-input" type="text" id="username-login" placeholder="Arrowhead_Addict" />
        </label>
      </div>
      <div class="form-group">
        <label for="email-login" id="filler">Email:</label>
        <input class="form-input" type="email" id="email-login" placeholder="GoChiefs@hotmail.com" />
        </label>
      </div>
      <div class="form-group">
        <label for="password-login" id="filler">Password:
          <input class="form-input" type="password" id="password-login" placeholder="password" />
        </label>
        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
      </div>
      <div class="form-group">
        <p><input type="submit" class="button expanded" id="submit-button" value="Create Account"></input></p>
      </div>
    </form>
  </div>
</div>

<script src="./assets/js/login.js"></script>