<div id='jummbotron' class='callout large'>
    <div class='row column text-center'>
        <h1 id='fill'>PREDICTIONS</h1>
    </div>
</div>

<table class='hover'>
    <thead>
        <tr>
            <th width='200'></th>
            <th id='stats'>SEASON ODDS FOR THE KANSAS CITY CHIEFS</th>
            <th width='150'></th>
            <th width='150'></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id='stats'>NEXT GAME</td>
            <td>The Kansas City Chiefs are 2.0 point favorites at the Tampa Bay
                Buccaneers on October 3, 2022. The Over-Under Total is 45.5 Points.</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td id='stats'>AFC</td>
            <td>The Kansas City Chiefs' odds to win the 2023 AFC Championship are
                +350.</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td id='stats'>SUPERBOWL</td>
            <td>The Kansas City Chiefs' odds to win the 2023 Super Bowl are +750.</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="callout small ">
    <div class="row column">
        <h2 id="fill" class="post-header">Posts</h2>
    </div>
    <br>

    {{#each threads as |thread|}}
    <div class="row" id="content">
        <div class="blog-post">
            <h3 id="fill">{{thread.title}} <small>{{date}}</small></h3>
            <p>{{thread.body}}</p>
                <ul class="menu simple">
                    <li><a id="user" href="#">Author: {{user.username}}</a></li>
                    <li><a id="comments" href="#">Comments:</a></li>
                </ul>
        <div class="callout">
        <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                </div>
                <div class="media-object-section">
                    <!-- insert user profile link -->
                    <h4 id="fill"><a id="user" href="#">Mike Mikers</a></h4>
                    <p>I'm going to improvise. Listen, there's something you should know about me... about
                        inception. An idea is
                        like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It
                        can
                        grow to define
                        or destroy you.</p>
                </div>
            </div>
        </div>
        <textarea placeholder="my comments"></textarea>
        <button id="submit" class="button">Submit</button>
    </div>
</div> 
        </div>
            </div>
        </div>
    </div>
    {{/each}}
