    <div id="jummbotron" class="callout large">
        <div class="row column text-center">
            <h1 id="fill">PREDICTIONS</h1>
        </div>
    </div>

    <table class="hover">
        <thead>
            <tr>
                <th width="200"></th>
                <th id="stats">SEASON ODDS FOR THE KANSAS CITY CHIEFS</th>
                <th width="150"></th>
                <th width="150"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="stats">NEXT GAME</td>
                <td>The Kansas City Chiefs are 2.0 point favorites at the Tampa Bay Buccaneers on October 3, 2022. The
                    Over-Under Total is 45.5 Points.</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td id="stats">AFC</td>
                <td>The Kansas City Chiefs' odds to win the 2023 AFC Championship are +350.</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td id="stats">SUPERBOWL</td>
                <td>The Kansas City Chiefs' odds to win the 2023 Super Bowl are +750.</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>