<div class="gird-x grid-padding-x">
  <div class="cell small-12 flex-container flex-dir-colomn large-flex-dir-row">
   <div class="callout primary flex-child-auto">
      <h1>'users' Profile</h1>
      <img src="../public/assets/img/profile_img_folder.png" alt="profile_img" id="profile-img">
      <p id="profile-info">Email: </p>
      <p id="profile-info">Username: </p>
      <p id="profile-info"># of posts: </p>
      <p id="profile-info"># of likes: </p>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>

    <div class="callout primary flex-child-auto">
      <div class="post-form-header">
        <h2 class="post-form-title">
          Make a Post!
        </h2>
      </div>
      <form class="make-post-box">
        <div class="make-post-title-box">
          <label for="post-title" id="post-box-title">Title
            <input class="form-input" type="text" id="title-box"/>
          </label>
        </div>
        <div class="form-group">
          <label for="post-body-tile" id="post-box-title">Share your thoughts below
          </label>
          <input class="form-input" id="post-body-box"/>
        </div>
        <div>
          <ul class="dropdown menu" data-dropdown-menu id="inner-nav-bar">
              <a href="#" id="nav-bar-text">Categories</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="/predictions" id="nav-bar-text">Predictions</a></li>
                <li><a href="/offense" id="nav-bar-text">Offense</a></li>
                <li><a href="/defense" id="nav-bar-text">Defense</a></li>
                <li><a href="/highlights" id="nav-bar-text">Best Plays</a></li>
                <li><a href="/random" id="nav-bar-text">Off The Field</a></li>
              </ul>
            </li>
        </div>
        <div class="form-group">
          <p><input type="submit" class="button expanded" id="submit-button" value="Create Post!"></input></p>
        </div>
      </form>
    </div>

    <div class="cell small-12 align-self-bottom" id="users-posts-box" style="height:120px;width:120px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
      Existing user posts in here 
      Existing user posts in here
      Existing user posts in here
      Existing user posts in here
      Existing user posts in here
      Existing user posts in here
      Existing user posts in here
      Existing user posts in here
      Existing user posts in here
    </div>

  </div>
</div>

   
</div>