<div class="gird-x grid-padding-x">
  <div class="cell small-12 flex-container flex-dir-colomn large-flex-dir-row">
   <div class="callout primary flex-child-auto" id="profile-card">
      <h1>{{username}}</h1>
      <img src="/assets/img/profile_img_folder.png" alt="profile_img" id="profile-img">
      <p id="profile-info">Email: {{email}} </p>
      <p id="profile-info"># of posts: </p>
      <p id="profile-info"># of likes: </p>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>

    <div class="callout primary flex-child-auto" id="create-post-card">
      <div class="post-form-header">
        <h2 class="post-form-title">
          Make a Post!
        </h2>
      </div>
      <form class="make-post-box">
        <div class="make-post-title-box">
          <label for="post-title" id="post-box-title">Title
            <input class="form-input" type="text" id="title-box"/>
          </label>
        </div>
        <div class="form-group">
          <label>
            Post Content
            <textarea id="post-content" placeholder="None"></textarea>
          </label>
        </div>
        <div>
          <label>Select Category
            <select id="select-category">
              <option value="4">Predictions</option>
              <option value="2">Offense</option>
              <option value="1">Defense</option>
              <option value="3">Best Play</option>
              <option value="5">Off The Field</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <p><input type="submit" class="button expanded" id="create-button" value="Create Post!"></input></p>
        </div>
      </form>
    <div>
      <h1 class="user-posts-header">{{username}} Posts</h1>
      <div class="flex-container">
      <div class="user-posts">
          As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
      </div>


  </div>
</div>

<script src="/assets/js/profile.js"></script>