<div class="callout large ">
    <div class="row column text-center">
        <h1 id="schedule">SCHEDULE</h1>
        {{!-- <main>
            <section class="schedule"></section>
        </main> --}}

        <table id="border" class="stack">
            <thead>
                <tr>
                    <th id="week" height="50" width="20">WEEK</th>
                    <th id="date" width="200">DATE</th>
                    <th id="opponent" width="50">OPPONENT</th>
                    <th id="time" width="50">TIME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sun, Sep 11</td>
                    <td>Arizona Cardinals</td>
                    <td>3:25 PM</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Thu, Sep 15</td>
                    <td>Los Angeles Chargers</td>
                    <td>7:15 PM</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Sun, Sep 25</td>
                    <td>Indianapolis Colts</td>
                    <td>12:00 PM</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Sun, Oct 2</td>
                    <td>Tampa Bay Buccaneers</td>
                    <td>7:20 PM</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Mon, Oct 10</td>
                    <td>Las Vegas Raiders</td>
                    <td>7:15 PM</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Sun, Oct 16</td>
                    <td>Bufallo Bills</td>
                    <td>3:25 PM</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Sun, Oct 23</td>
                    <td>San Francisco 49ers</td>
                    <td>3:25 PM</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>BYE WEEK</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Sun, Nov 6</td>
                    <td>Tennesse Titans</td>
                    <td>7:20 PM</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Sun, Nov 13</td>
                    <td>Jacksonville Jaguars</td>
                    <td>12:00 PM</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Sun, Nov 20</td>
                    <td>Los Angeles Chargers</td>
                    <td>3:25 PM</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Sun, Nov 27</td>
                    <td>Los Angeles Rams</td>
                    <td>3:25 PM</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Sun, Dec 4</td>
                    <td>Cincinatti Bengals</td>
                    <td>3:25 PM</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Sun, Dec 11</td>
                    <td>Denver Broncos</td>
                    <td>7:20 PM</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Sun, Dec 18</td>
                    <td>Houston Texans</td>
                    <td>12:00 PM</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Sun, Dec 24</td>
                    <td>Seattle Seahawks</td>
                    <td>12:00 PM</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Sun, Jan 1</td>
                    <td>Denver Broncos</td>
                    <td>12:00 PM</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Sun, Jan 8 </td>
                    <td>Las Vegas Raiders</td>
                    <td>12:00 PM</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<footer id="fill" class="footer">
    <a href="https://www.chiefs.com/tickets/">Find Tickets at the Chiefs Oficial Website</a>
</footer>