<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../Project2/project.css">
    <title>SCHEDULE</title>
</head>

<body>

    <div class="callout large ">
        <div class="row column text-center">
            <h1>SCHEDULE</h1>
            <main>
                <section class="schedule"></section>
            </main>
        </div>
    </div>
    <footer class="footer">
        <a href="https://www.chiefs.com/tickets/">Find Tickets at the Chiefs Oficial Website</a>
    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js"
    crossorigin="anonymous"></script>

</html>