body {
    background-color: darkred;
}

a {
    color: darkred;
}

a:hover {
    color: darkred;
}

.top-bar {
    background-color: white;
}

div.top-bar {
    color: white;
}

ul {
    color: white;
}

/** Changes background color, height and margin of the border **/
.top-bar {
    background-color: black;
    fill: black;

}

.blog-post {
    background-color: white;
}